certifi==2018.11.29
dj-database-url==0.5.0
Django==2.2.13
django-heroku==0.3.1
gunicorn==19.9.0
heroku==0.1.4
httplib2==0.13.0
idna==2.8
Pillow==5.3.0
pipenv==2018.11.26
postgres==2.2.2
psycopg2==2.8.2
psycopg2-binary==2.8.2
